<div class="ml-20">
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <div>
        <%= form.label :commenter, "Your Name", class: "block w-full text-right m-0 p-2 text-gray-400"%>
        <%= form.text_field :commenter, class: "w-full" %>
    </div>
    <div>
        <%= form.label :body, "Your Comment", class: "block w-full text-right m-0 p-2 text-gray-400" %>
        <%= form.text_area :body, class: "w-full"  %>
    </div>
    <div class="flex justify-end">
        <%= form.button "Post", type: :submit%>
    </div>
    <% end %>
</div>